canvas {
    white-space: pre-wrap;
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }

h1 {
    text-align: center;
}

#canvasControls {
    padding: 10px;
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#textControls {
    padding: 10px;
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
}

input {
    float: right;
}

textarea {
    align-self: center;
    align-content: center;
    resize: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}